---
title: "Lab 2: Avocado Sales"
author: "Alexandra Grover" 
date: October 7,2024
embed-resources: true
---

In [123]:
import numpy as np 
import pandas as pd
from plotnine import *

In [124]:
avocados= pd.read_csv("/Users/alexandra/Desktop/GSB-544/Labs/Lab 2/avocado-updated-2020.csv")
avocados.head()

         date  average_price  total_volume       4046       4225  ...  large_bags  xlarge_bags          type  year             geography
0  2015-01-04           1.22      40873.28    2819.50   28287.42  ...      529.53          0.0  conventional  2015                Albany
1  2015-01-04           1.79       1373.95      57.42     153.88  ...        0.00          0.0       organic  2015                Albany
2  2015-01-04           1.00     435021.49  364302.39   23821.16  ...    30108.64          0.0  conventional  2015               Atlanta
3  2015-01-04           1.76       3846.69    1500.15     938.35  ...      336.84          0.0       organic  2015               Atlanta
4  2015-01-04           1.08     788025.06   53987.31  552906.04  ...     3990.61          0.0  conventional  2015  Baltimore/Washington

[5 rows x 13 columns]

In [125]:
print(avocados["geography"].unique())

['Albany' 'Atlanta' 'Baltimore/Washington' 'Boise' 'Boston' 'Buffalo/Rochester' 'California' 'Charlotte' 'Chicago'
 'Cincinnati/Dayton' 'Columbus' 'Dallas/Ft. Worth' 'Denver' 'Detroit' 'Grand Rapids' 'Great Lakes' 'Harrisburg/Scranton'
 'Hartford/Springfield' 'Houston' 'Indianapolis' 'Jacksonville' 'Las Vegas' 'Los Angeles' 'Louisville' 'Miami/Ft. Lauderdale'
 'Midsouth' 'Nashville' 'New Orleans/Mobile' 'New York' 'Northeast' 'Northern New England' 'Orlando' 'Philadelphia'
 'Phoenix/Tucson' 'Pittsburgh' 'Plains' 'Portland' 'Raleigh/Greensboro' 'Richmond/Norfolk' 'Roanoke' 'Sacramento' 'San Diego'
 'San Francisco' 'Seattle' 'South Carolina' 'South Central' 'Southeast' 'Spokane' 'St. Louis' 'Syracuse' 'Tampa' 'Total U.S.'
 'West' 'West Tex/New Mexico']
['Albany' 'Atlanta' 'Baltimore/Washington' 'Boise' 'Boston' 'Buffalo/Rochester' 'California' 'Charlotte' 'Chicago'
 'Cincinnati/Dayton' 'Columbus' 'Dallas/Ft. Worth' 'Denver' 'Detroit' 'Grand Rapids' 'Great Lakes' 'Harrisburg/Scranton'
 'Hartford/Springfield' 'Houston' 'Indianapolis' 'Jacksonville' 'Las Vegas' 'Los Angeles' 'Louisville' 'Miami/Ft. Lauderdale'
 'Midsouth' 'Nashville' 'New Orleans/Mobile' 'New York' 'Northeast' 'Northern New England' 'Orlando' 'Philadelphia'
 'Phoenix/Tucson' 'Pittsburgh' 'Plains' 'Portland' 'Raleigh/Greensboro' 'Richmond/Norfolk' 'Roanoke' 'Sacramento' 'San Diego'
 'San Francisco' 'Seattle' 'South Carolina' 'South Central' 'Southeast' 'Spokane' 'St. Louis' 'Syracuse' 'Tampa' 'Total U.S.'
 'West' 'West Tex/New Mexico']

#Defining region types

#region_mapping={

    "West": "Major Region ",
    "Northeast": "Major Region",
    "West Tex/New Mexico": "Major Region ",
    "Southeast": "Major Region",
    "South Central" : "Major Region",
    "Midsouth" : "Major Region",
    'Great Lakes': 'Major Region',
    'Plains': 'Major Region',
    'California': 'Major Region',
    'South Carolina': 'Major Region',
    'West Tex/New Mexico': 'Major Region',
    'Northern New England': 'Major Region',
#Metro
    'Boise': 'Metro Region',
    'Boston': 'Metro Region',
    'Buffalo/Rochester': 'Metro Region',
    'Charlotte': 'Metro Region',
    'Chicago': 'Metro Region',
    'Cincinnati/Dayton': 'Metro Region',
    'Columbus': 'Metro Region',
    'Dallas/Ft. Worth': 'Metro Region',
    'Denver': 'Metro Region',
    'Detroit': 'Metro Region',
    'Grand Rapids': 'Metro Region',
    'Harrisburg/Scranton': 'Metro Region',
    'Hartford/Springfield': 'Metro Region',
    'Houston': 'Metro Region',
    'Indianapolis': 'Metro Region',
    'Jacksonville': 'Metro Region',
    'Las Vegas': 'Metro Region',
    'Los Angeles': 'Metro Region',
    'Louisville': 'Metro Region',
    'Miami/Ft. Lauderdale': 'Metro Region',
    'Nashville': 'Metro Region',
    'New Orleans/Mobile': 'Metro Region',
    'New York': 'Metro Region',
    'Orlando': 'Metro Region',
    'Philadelphia': 'Metro Region',
    'Phoenix/Tucson': 'Metro Region',
    'Pittsburgh': 'Metro Region',
    'Portland': 'Metro Region',
    'Raleigh/Greensboro': 'Metro Region',
    'Richmond/Norfolk': 'Metro Region',
    'Roanoke': 'Metro Region',
    'Sacramento': 'Metro Region',
    'San Diego': 'Metro Region',
    'San Francisco': 'Metro Region',
    'Seattle': 'Metro Region',
    'Spokane': 'Metro Region',
    'St. Louis': 'Metro Region',
    'Syracuse': 'Metro Region',
    'Tampa': 'Metro Region',
    'Total U.S.': 'Total U.S.'  
}

#avocados["region_type"] =avocados["geography"].apply(lambda x: region_mapping.get(x, "unknown"))
#I used chat gpt to help me with the code above




#attempt two
major_regions = {
"West": "West",
"Great Lakes": "Great Lakes",
"Midsouth" : "Midsouth",
"Northeast": "Northeast",
"South Central": "South Central",
"Southeast": "Southeast",
"West Tex/New Mexico": "West Tex/New Mexico",
"Plains": "Plains",
"Northern New England": "Northern New England",
"California": "California",
"Total U.S.": "Total U.S."
}


minor_regions = {
"South Carolina": "South Carolina",
"Albany": "Albany",
"Atlanta": "Atlanta",
'Baltimore/Washington': 'Baltimore/Washington',
'Boise': 'Boise',
'Boston': 'Boston',
'Buffalo/Rochester': 'Buffalo/Rochester',
'Charlotte': 'Charlotte',
'Chicago': 'Chicago',
'Cincinnati/Dayton': 'Cincinnati/Dayton',
'Columbus': 'Columbus',
'Dallas/Ft. Worth': 'Dallas/Ft. Worth',
'Denver': 'Denver',
'Detroit': 'Detroit',
'Grand Rapids': 'Grand Rapids',
'Harrisburg/Scranton': 'Harrisburg/Scranton',
'Hartford/Springfield': 'Hartford/Springfield',
'Houston': 'Houston',
'Indianapolis': 'Indianapolis',
'Jacksonville': 'Jacksonville',
'Las Vegas': 'Las Vegas',
'Los Angeles': 'Los Angeles',
'Louisville': 'Louisville',
'Miami/Ft. Lauderdale': 'Miami/Ft. Lauderdale',
'Nashville': 'Nashville',
'New Orleans/Mobile': 'New Orleans/Mobile',
'Orlando': 'Orlando',
'Philadelphia': 'Philadelphia',
'Phoenix/Tucson': 'Phoenix/Tucson',
'Pittsburgh': 'Pittsburgh',
'Portland': 'Portland',
'Raleigh/Greensboro': 'Raleigh/Greensboro',
'Richmond/Norfolk': 'Richmond/Norfolk',
'Roanoke': 'Roanoke',
'Sacramento': 'Sacramento',
'San Diego': 'San Diego',
'San Francisco': 'San Francisco',
'Seattle': 'Seattle',
'Spokane': 'Spokane',
'St. Louis': 'St. Louis',
'Syracuse': 'Syracuse',
'Tampa': 'Tampa',
"New York": "New York",

}

In [132]:
#start mapping over
total_US = ['Total U.S.']
major_regions = ['Great Lakes', 'Northeast', 'South Central', 'Southeast', 'West', 'Plains', 'Midsouth']
metro_regions =['Baltimore/Washington', 'Buffalo/Rochester', 'Cincinnati/Dayton', 'Dallas/Ft. Worth',
'Harrisburg/Scranton', 'Hartford/Springfield', 'Miami/Ft. Lauderdale', 'New Orleans/Mobile',
' Phoenix/Tucson', 'Raleigh/Greensboro', 'Richmond/Norfolk', 'West Tex/New Mexico', 'Northern New England']
cities = ['Albany', 'Atlanta', 'Baltimore/Washington','Boise', 'Boston', 'Buffalo/Rochester', 'Charlotte', 'Chicago',
'Cincinnati/Dayton', 'Columbus', 'Dallas/Ft. Worth', 'Denver', 'Detroit', 'Grand Rapids', 'Harrisburg/Scranton',
'Hartford/Springfield', 'Houston', 'Indianapolis', 'Jacksonville', 'Las Vegas', 'Los Angeles', 'Louisville',
'Miami/Ft. Lauderdale', 'Nashville', 'New Orleans/Mobile', 'New York', 'Orlando', 'Philadelphia', 'Phoenix/Tucson',
'Pittsburgh', 'Portland', 'Raleigh/Greensboro', 'Richmond/Norfolk', 'Roanoke', 'Sacramento', 'San Diego', 'San Francisco',
'Seattle', 'Spokane', 'St. Louis', 'Syracuse', 'Tampa']

In [126]:

avocados['major_regions'] = avocados["geography"].map(major_regions)
avocados['minor_regions'] = avocados["geography"].map(major_regions)
avocados.head()

         date  average_price  total_volume       4046  ...  year             geography  major_regions  minor_regions
0  2015-01-04           1.22      40873.28    2819.50  ...  2015                Albany            NaN            NaN
1  2015-01-04           1.79       1373.95      57.42  ...  2015                Albany            NaN            NaN
2  2015-01-04           1.00     435021.49  364302.39  ...  2015               Atlanta            NaN            NaN
3  2015-01-04           1.76       3846.69    1500.15  ...  2015               Atlanta            NaN            NaN
4  2015-01-04           1.08     788025.06   53987.31  ...  2015  Baltimore/Washington            NaN            NaN

[5 rows x 15 columns]

In [127]:
#clean avacado data
avocados = avocados.rename(columns={'4046': 'Small', '4225': 'Large', '4770':'Xlarge'})

avocados.head()

         date  average_price  total_volume      Small  ...  year             geography  major_regions  minor_regions
0  2015-01-04           1.22      40873.28    2819.50  ...  2015                Albany            NaN            NaN
1  2015-01-04           1.79       1373.95      57.42  ...  2015                Albany            NaN            NaN
2  2015-01-04           1.00     435021.49  364302.39  ...  2015               Atlanta            NaN            NaN
3  2015-01-04           1.76       3846.69    1500.15  ...  2015               Atlanta            NaN            NaN
4  2015-01-04           1.08     788025.06   53987.31  ...  2015  Baltimore/Washington            NaN            NaN

[5 rows x 15 columns]

Which major geographical region sold the most total organic, small Hass avocados in 2017?

In [130]:
#3
avocados_2017_organic_major = avocados[
    (avocados['year'] == 2017) & 
    (avocados['type'] == 'organic') & avocados['major_regions']== 'major_regions'
]
#avocados.groupby('major_regions')['Small'].sum()

#find region 
region_sales = avocados_2017_organic_major.groupby('geography')['Small'].sum()

#highest sales
max_sales_region = region_sales.idxmax()
max_sales_value = region_sales.max()

print(max_sales_region)
print(max_sales_value)

ValueError: attempt to get argmax of an empty sequence