---
title: "Lab 2: Avocado Sales"
author: "Alexandra Grover" 
date: October 7,2024
embed-resources: true
---

In [3]:
import numpy as np 
import pandas as pd
from plotnine import *

In [4]:
df1= pd.read_csv("/Users/alexandra/Desktop/GSB-544/Labs/Lab 2/avocado-updated-2020.csv")
df1.head()

         date  average_price  total_volume  ...          type  year             geography
0  2015-01-04           1.22      40873.28  ...  conventional  2015                Albany
1  2015-01-04           1.79       1373.95  ...       organic  2015                Albany
2  2015-01-04           1.00     435021.49  ...  conventional  2015               Atlanta
3  2015-01-04           1.76       3846.69  ...       organic  2015               Atlanta
4  2015-01-04           1.08     788025.06  ...  conventional  2015  Baltimore/Washington

[5 rows x 13 columns]

In [5]:
print(df1["geography"].unique())

['Albany' 'Atlanta' 'Baltimore/Washington' 'Boise' 'Boston' 'Buffalo/Rochester' 'California'
 'Charlotte' 'Chicago' 'Cincinnati/Dayton' 'Columbus' 'Dallas/Ft. Worth' 'Denver' 'Detroit'
 'Grand Rapids' 'Great Lakes' 'Harrisburg/Scranton' 'Hartford/Springfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'Las Vegas' 'Los Angeles' 'Louisville' 'Miami/Ft. Lauderdale' 'Midsouth'
 'Nashville' 'New Orleans/Mobile' 'New York' 'Northeast' 'Northern New England' 'Orlando'
 'Philadelphia' 'Phoenix/Tucson' 'Pittsburgh' 'Plains' 'Portland' 'Raleigh/Greensboro'
 'Richmond/Norfolk' 'Roanoke' 'Sacramento' 'San Diego' 'San Francisco' 'Seattle' 'South Carolina'
 'South Central' 'Southeast' 'Spokane' 'St. Louis' 'Syracuse' 'Tampa' 'Total U.S.' 'West'
 'West Tex/New Mexico']
['Albany' 'Atlanta' 'Baltimore/Washington' 'Boise' 'Boston' 'Buffalo/Rochester' 'California'
 'Charlotte' 'Chicago' 'Cincinnati/Dayton' 'Columbus' 'Dallas/Ft. Worth' 'Denver' 'Detroit'
 'Grand Rapids' 'Great Lakes' 'Harrisburg/Scranton' 'Hartford/Springfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'Las Vegas' 'Los Angeles' 'Louisville' 'Miami/Ft. Lauderdale' 'Midsouth'
 'Nashville' 'New Orleans/Mobile' 'New York' 'Northeast' 'Northern New England' 'Orlando'
 'Philadelphia' 'Phoenix/Tucson' 'Pittsburgh' 'Plains' 'Portland' 'Raleigh/Greensboro'
 'Richmond/Norfolk' 'Roanoke' 'Sacramento' 'San Diego' 'San Francisco' 'Seattle' 'South Carolina'
 'South Central' 'Southeast' 'Spokane' 'St. Louis' 'Syracuse' 'Tampa' 'Total U.S.' 'West'
 'West Tex/New Mexico']

In [7]:
#Defining region types

region_mapping={

    "West": "Major Region ",
    "Northeast": "Major Region",
    "West": "Major Region ",
    "West Tex/New Mexico": "Major Region ",
    "Southeast": "Major Region",
    "South Central" : "Major Region",
    "Midsouth" : "Major Region",
    'Great Lakes': 'Major Region',
    'Plains': 'Major Region',
    'California': 'Major Region',
    'South Carolina': 'Major Region',
    'West Tex/New Mexico': 'Major Region',
    'Northern New England': 'Major Region',
#Metro
    'Boise': 'Metro Region',
    'Boston': 'Metro Region',
    'Buffalo/Rochester': 'Metro Region',
    'Charlotte': 'Metro Region',
    'Chicago': 'Metro Region',
    'Cincinnati/Dayton': 'Metro Region',
    'Columbus': 'Metro Region',
    'Dallas/Ft. Worth': 'Metro Region',
    'Denver': 'Metro Region',
    'Detroit': 'Metro Region',
    'Grand Rapids': 'Metro Region',
    'Harrisburg/Scranton': 'Metro Region',
    'Hartford/Springfield': 'Metro Region',
    'Houston': 'Metro Region',
    'Indianapolis': 'Metro Region',
    'Jacksonville': 'Metro Region',
    'Las Vegas': 'Metro Region',
    'Los Angeles': 'Metro Region',
    'Louisville': 'Metro Region',
    'Miami/Ft. Lauderdale': 'Metro Region',
    'Nashville': 'Metro Region',
    'New Orleans/Mobile': 'Metro Region',
    'New York': 'Metro Region',
    'Orlando': 'Metro Region',
    'Philadelphia': 'Metro Region',
    'Phoenix/Tucson': 'Metro Region',
    'Pittsburgh': 'Metro Region',
    'Portland': 'Metro Region',
    'Raleigh/Greensboro': 'Metro Region',
    'Richmond/Norfolk': 'Metro Region',
    'Roanoke': 'Metro Region',
    'Sacramento': 'Metro Region',
    'San Diego': 'Metro Region',
    'San Francisco': 'Metro Region',
    'Seattle': 'Metro Region',
    'Spokane': 'Metro Region',
    'St. Louis': 'Metro Region',
    'Syracuse': 'Metro Region',
    'Tampa': 'Metro Region',
    'Total U.S.': 'Total U.S.'  
}

Which major geographical region sold the most total organic, small Hass avocados in 2017?

In [ ]:
#3
df2017 = df1[(df1['year']==2017)&  df1['type']=="organic"]