---
title: "Lab 4: Coffee Lovers Unite"
author: "Alexandra Grover" 
date: October 18,2024
embed-resources: true
---

In [159]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [160]:
starbucks_response = requests.get("https://worldpopulationreview.com/state-rankings/starbucks-stores-by-state")

In [161]:
from bs4 import BeautifulSoup
starbs_soup = BeautifulSoup(starbucks_response.content, "html.parser")

In [162]:
star_table=(starbs_soup.find_all("table"))[0]
star_table

<table class="wpr-table"><thead class="table-head bg-wpr-table_header_bg relative z-40 px-0 py-0 text-xs uppercase tracking-wider"><tr><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 pin left-0 z-50 border-l-0"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">State</div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2023<svg class="icon icon-tabler icon-tabler-chevron-down" fill="none" height="14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" stroke="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg></div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2021</div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2024</div></div></th></tr></thead><tbody class="relative z-10 text-sm"><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/california" to="/states/california">California</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/texas" to="/states/texas">Texas</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,346</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,215</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,409</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/florida" to="/states/florida">Florida</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">844</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">786</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">892</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/washington" to="/states/washington">Washington</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">741</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">739</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">736</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-york" to="/states/new-york">New York</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">692</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">643</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">715</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/illinois" to="/states/illinois">Illinois</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">677</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">621</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">685</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/arizona" to="/states/arizona">Arizona</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">548</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">535</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">579</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/colorado" to="/states/colorado">Colorado</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">495</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">497</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">506</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/ohio" to="/states/ohio">Ohio</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">491</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">446</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">499</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/virginia" to="/states/virginia">Virginia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">489</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">456</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">510</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/oregon" to="/states/oregon">Oregon</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">359</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">345</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/pennsylvania" to="/states/pennsylvania">Pennsylvania</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">357</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">406</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/north-carolina" to="/states/north-carolina">North Carolina</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">338</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">422</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/georgia" to="/states/georgia">Georgia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">326</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">379</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/michigan" to="/states/michigan">Michigan</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">283</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">310</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/massachusetts" to="/states/massachusetts">Massachusetts</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">273</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">279</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-jersey" to="/states/new-jersey">New Jersey</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">261</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">293</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/maryland" to="/states/maryland">Maryland</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">257</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">274</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/nevada" to="/states/nevada">Nevada</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">253</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">269</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/indiana" to="/states/indiana">Indiana</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">221</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">265</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/missouri" to="/states/missouri">Missouri</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">188</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">208</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/minnesota" to="/states/minnesota">Minnesota</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">184</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">212</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/tennessee" to="/states/tennessee">Tennessee</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">180</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">237</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/kentucky" to="/states/kentucky">Kentucky</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">166</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">131</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/wisconsin" to="/states/wisconsin">Wisconsin</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">145</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">176</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/south-carolina" to="/states/south-carolina">South Carolina</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">131</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">207</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/connecticut" to="/states/connecticut">Connecticut</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">123</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">125</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/utah" to="/states/utah">Utah</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">101</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">126</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/hawaii" to="/states/hawaii">Hawaii</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">99</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">105</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/kansas" to="/states/kansas">Kansas</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">94</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">120</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/district-of-columbia" to="/states/district-of-columbia">District of Columbia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">91</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/iowa" to="/states/iowa">Iowa</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">89</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">142</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/alabama" to="/states/alabama">Alabama</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">85</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">99</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/louisiana" to="/states/louisiana">Louisiana</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">84</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">10</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/oklahoma" to="/states/oklahoma">Oklahoma</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">79</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">94</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-mexico" to="/states/new-mexico">New Mexico</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">76</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">92</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/idaho" to="/states/idaho">Idaho</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">67</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">78</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/nebraska" to="/states/nebraska">Nebraska</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">58</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">87</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle 

In [163]:
row = table.find_all("tr")[1]
row

<tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/california" to="/states/california">California</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td></tr>

In [164]:
  state= row.find("th").text
  state

'California'

In [165]:
cells = row.find_all('td')
cells

[<td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td>,
 <td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td>,
 <td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td>]

In [166]:
year2023 = cells[0].text
year2023

'3,080'

In [167]:
starbs= []

# iterate over all rows in the population table
for row in star_table.find_all("tr")[1:]:

  #state
  state= row.find("th").text

#Cells for num of starbucks
  cells = row.find_all('td')
  #Year
  year2023 = cells[0].text
  year2021 = cells[1].text
  year2024 = cells[2].text

  

  starbs.append({
                "State": state,
                "2024": year2024,
                "2023": year2023,
                "2021": year2021,
  })

In [168]:
starbs = pd.DataFrame(starbs)

In [169]:
#melt
starbs_melt= starbs.melt(id_vars=["State"], var_name='Year', value_name="Stores")

In [170]:
starbs_melt["Chain"] = "Starbucks"
starbs_melt.head()

        State  Year Stores      Chain
0  California  2024  3,117  Starbucks
1       Texas  2024  1,409  Starbucks
2     Florida  2024    892  Starbucks
3  Washington  2024    736  Starbucks
4    New York  2024    715  Starbucks

In [171]:
dunkin_response = requests.get("https://worldpopulationreview.com/state-rankings/dunkin-donuts-by-state")

In [172]:
from bs4 import BeautifulSoup
dunks_soup = BeautifulSoup(dunkin_response.content, "html.parser")

In [173]:
dunkin_table=(dunks_soup.find_all("table"))[0]
#dunkin_table

In [174]:
dunky= []

# iterate over all rows in the population table
for row in dunkin_table.find_all("tr")[1:]:

  #state
  state= row.find("th").text

  #Cells for num of dunkin
  cells = row.find_all('td')
  #Year
  year2024 = cells[0].text
  year2023 = cells[1].text
 

  

  dunky.append({
                "State": state,
                "2024": year2024,
                "2023": year2023
               
  })

In [175]:
dunky =pd.DataFrame(dunky)
dunky

                   State   2024   2023
0               New York  1,431  1,414
1          Massachusetts  1,042  1,068
2                Florida    909    883
3             New Jersey    872    866
4               Illinois    711    692
5           Pennsylvania    650    629
6            Connecticut    476    480
7               Maryland    311    303
8                Georgia    287    265
9                   Ohio    261    245
10              Virginia    244    230
11                 Texas    226    196
12        North Carolina    224    206
13         New Hampshire    216    218
14                 Maine    164    159
15          Rhode Island    159    160
16            California    143    134
17             Tennessee    137    123
18               Indiana    117    104
19        South Carolina    116    103
20              Michigan    112    105
21               Arizona    110    102
22             Wisconsin    100     83
23               Alabama     69     59
24              Delaware     67     66
25              Missouri     54     50
26              Kentucky     50     41
27               Vermont     50     49
28              Colorado     48     43
29                Nevada     42     38
30             Minnesota     38     34
31                  Iowa     36     34
32         West Virginia     31     27
33                Kansas     26     28
34              Nebraska     24     23
35              Oklahoma     23     18
36  District of Columbia     19
37            New Mexico     19     19
38             Louisiana     15     16
39              Arkansas     14      9
40           Mississippi     14     12
41                Hawaii      6      6
42                  Utah      2      1
43               Wyoming      1      1
44                Alaska      0      0
45                 Idaho      0      0
46               Montana      0      0
47          North Dakota      0      0
48                Oregon      0      0
49          South Dakota      0      0
50            Washington      0     19

In [176]:
#melt
dunky_melt= dunky.melt(id_vars=["State"], var_name='Year', value_name="Stores")
dunky_melt

             State  Year Stores
0         New York  2024  1,431
1    Massachusetts  2024  1,042
2          Florida  2024    909
3       New Jersey  2024    872
4         Illinois  2024    711
..             ...   ...    ...
97         Montana  2023      0
98    North Dakota  2023      0
99          Oregon  2023      0
100   South Dakota  2023      0
101     Washington  2023     19

[102 rows x 3 columns]

In [177]:
dunky_melt["Chain"] = "Dunkin"
dunky_melt.head()

           State  Year Stores   Chain
0       New York  2024  1,431  Dunkin
1  Massachusetts  2024  1,042  Dunkin
2        Florida  2024    909  Dunkin
3     New Jersey  2024    872  Dunkin
4       Illinois  2024    711  Dunkin

In [178]:
starbs_melt.head()

        State  Year Stores      Chain
0  California  2024  3,117  Starbucks
1       Texas  2024  1,409  Starbucks
2     Florida  2024    892  Starbucks
3  Washington  2024    736  Starbucks
4    New York  2024    715  Starbucks

In [179]:
dunky_melt

             State  Year Stores   Chain
0         New York  2024  1,431  Dunkin
1    Massachusetts  2024  1,042  Dunkin
2          Florida  2024    909  Dunkin
3       New Jersey  2024    872  Dunkin
4         Illinois  2024    711  Dunkin
..             ...   ...    ...     ...
97         Montana  2023      0  Dunkin
98    North Dakota  2023      0  Dunkin
99          Oregon  2023      0  Dunkin
100   South Dakota  2023      0  Dunkin
101     Washington  2023     19  Dunkin

[102 rows x 4 columns]

In [180]:
starbs_dunky= pd.concat([starbs_melt, dunky_melt],ignore_index=True)
starbs_dunky

            State  Year Stores      Chain
0      California  2024  3,117  Starbucks
1           Texas  2024  1,409  Starbucks
2         Florida  2024    892  Starbucks
3      Washington  2024    736  Starbucks
4        New York  2024    715  Starbucks
..            ...   ...    ...        ...
250       Montana  2023      0     Dunkin
251  North Dakota  2023      0     Dunkin
252        Oregon  2023      0     Dunkin
253  South Dakota  2023      0     Dunkin
254    Washington  2023     19     Dunkin

[255 rows x 4 columns]

In [181]:
#combine
#merge_df = pd.merge(starbs, dunky, how="inner", on='State')
#merge_df

In [203]:
#wiki table
wiki_response = requests.get("https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population")

In [204]:
from bs4 import BeautifulSoup
wiki_soup = BeautifulSoup(wiki_response.content, "html.parser")

In [205]:
wiki_table=(wiki_soup.find_all("table"))[0]
#wiki_table

In [206]:
row =wiki_table.find_all("tr")[1]
#row

In [187]:
cell= row.find_all('td')
cell[2].get_text(strip=True)

'California'

In [211]:
wiki = []

# iterate over all rows in the population table
for row in wiki_table.find_all("tr")[1:]:


    # Get all the cells (<td>) in the row.
    #state
    cells = row.find_all("td")
    state=cells[2].get_text(strip=True)


 #find population
    pop = cells[3].get_text(strip=True)


    # Append this data.
    wiki.append({
        "State": state,
        "Population": pop,
})

In [212]:
wiki=pd.DataFrame(wiki)

In [221]:
final_merged = pd.merge(wiki, starbs_dunky, how="inner", on='State')

In [222]:
starbucks_stock= 96
dunkin_stock = 106
final_merged["starbucks_stock"]=starbucks_stock
final_merged["dunkin_stock"]=dunkin_stock

In [223]:
final_merged

          State  Population  Year  ...      Chain starbucks_stock  dunkin_stock
0    California  39,538,223  2024  ...  Starbucks              96           106
1    California  39,538,223  2023  ...  Starbucks              96           106
2    California  39,538,223  2021  ...  Starbucks              96           106
3    California  39,538,223  2024  ...     Dunkin              96           106
4    California  39,538,223  2023  ...     Dunkin              96           106
..          ...         ...   ...  ...        ...             ...           ...
250     Wyoming     576,851  2024  ...  Starbucks              96           106
251     Wyoming     576,851  2023  ...  Starbucks              96           106
252     Wyoming     576,851  2021  ...  Starbucks              96           106
253     Wyoming     576,851  2024  ...     Dunkin              96           106
254     Wyoming     576,851  2023  ...     Dunkin              96           106

[255 rows x 7 columns]

In [226]:
northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
            'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 
            'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 
               'North Dakota', 'South Dakota']
south = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 
             'South Carolina', 'Virginia', 'District of Columbia', 'West Virginia', 
             'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 
             'Arkansas', 'Louisiana', 'Oklahoma', 'Texas']
west = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 
            'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 
            'Hawaii', 'Oregon', 'Washington']

In [227]:
def assign_region(state):
    if state in northeast:
        return 'Northeast'
    elif state in midwest:
        return 'Midwest'
    elif state in south:
        return 'South'
    elif state in west:
        return 'West'
    else:
        return 'Unknown'

In [230]:
final_merged['Region'] = final_merged['State'].apply(assign_region)
final_merged

          State  Population  Year  ... starbucks_stock dunkin_stock  Region
0    California  39,538,223  2024  ...              96          106    West
1    California  39,538,223  2023  ...              96          106    West
2    California  39,538,223  2021  ...              96          106    West
3    California  39,538,223  2024  ...              96          106    West
4    California  39,538,223  2023  ...              96          106    West
..          ...         ...   ...  ...             ...          ...     ...
250     Wyoming     576,851  2024  ...              96          106    West
251     Wyoming     576,851  2023  ...              96          106    West
252     Wyoming     576,851  2021  ...              96          106    West
253     Wyoming     576,851  2024  ...              96          106    West
254     Wyoming     576,851  2023  ...              96          106    West

[255 rows x 8 columns]

In [225]:
final_merged["re"] = pd.merge(final_merged, states_regions, on='state')

KeyError: 'state'

In [194]:
sort = final_merged.sort_values(by='Starbucks Stores', ascending=False)
sort

             state  Population  ...   region_x   region_y
0       California  39,538,223  ...       West       West
1            Texas  30,145,505  ...      South      South
2          Florida  21,538,187  ...      South      South
12      Washington   7,705,281  ...       West       West
3         New York  20,201,249  ...  Northeast  Northeast
5         Illinois  12,812,508  ...    Midwest    Midwest
13         Arizona   7,151,502  ...       West       West
20        Colorado   5,773,714  ...       West       West
6             Ohio  11,799,448  ...    Midwest    Midwest
11        Virginia   8,631,393  ...      South      South
26          Oregon   4,237,256  ...       West       West
4     Pennsylvania  13,002,700  ...  Northeast  Northeast
8   North Carolina  10,439,388  ...      South      South
7          Georgia  10,711,908  ...      South      South
9         Michigan  10,077,331  ...    Midwest    Midwest
14   Massachusetts   7,029,917  ...  Northeast  Northeast
10      New Jersey   9,288,994  ...  Northeast  Northeast
17        Maryland   6,177,224  ...      South      South
31          Nevada   3,104,614  ...       West       West
16         Indiana   6,785,528  ...    Midwest    Midwest
18        Missouri   6,154,913  ...    Midwest    Midwest
21       Minnesota   5,706,494  ...    Midwest    Midwest
15       Tennessee   6,910,840  ...      South      South
25        Kentucky   4,505,836  ...      South      South
19       Wisconsin   5,893,718  ...    Midwest    Midwest
22  South Carolina   5,118,425  ...      South      South
28     Connecticut   3,605,944  ...  Northeast  Northeast
29            Utah   3,271,616  ...       West       West
39          Hawaii   1,455,271  ...       West       West
34          Kansas   2,937,880  ...    Midwest    Midwest
30            Iowa   3,190,369  ...    Midwest    Midwest
23         Alabama   5,024,279  ...      South      South
24       Louisiana   4,657,757  ...      South      South
27        Oklahoma   3,959,353  ...      South      South
35      New Mexico   2,117,522  ...       West       West
37           Idaho   1,839,106  ...       West       West
36        Nebraska   1,961,504  ...    Midwest    Midwest
32        Arkansas   3,011,524  ...      South      South
47          Alaska     733,391  ...       West       West
33     Mississippi   2,961,279  ...      South      South
43         Montana   1,084,225  ...       West       West
41           Maine   1,362,359  ...  Northeast  Northeast
40   New Hampshire   1,377,529  ...  Northeast  Northeast
42    Rhode Island   1,097,379  ...  Northeast  Northeast
38   West Virginia   1,793,716  ...      South      South
44        Delaware     989,948  ...      South      South
45    South Dakota     886,667  ...    Midwest    Midwest
49         Wyoming     576,851  ...       West       West
46    North Dakota     779,094  ...    Midwest    Midwest
48         Vermont     643,077  ...  Northeast  Northeast

[50 rows x 8 columns]

In [195]:
final_merged['Starbucks Stores'] = final_merged['Starbucks Stores'].str.replace(',', '').astype(int)

AttributeError: Can only use .str accessor with string values!

In [29]:
final_merged['Dunkin Stores'] = final_merged['Dunkin Stores'].str.replace(',', '').astype(int)

In [196]:
final_merged.head()

          state  Population  ...   region_x   region_y
0    California  39,538,223  ...       West       West
1         Texas  30,145,505  ...      South      South
2       Florida  21,538,187  ...      South      South
3      New York  20,201,249  ...  Northeast  Northeast
4  Pennsylvania  13,002,700  ...  Northeast  Northeast

[5 rows x 8 columns]

In [197]:
sort= final_merged.sort_values(by='Starbucks Stores', ascending=False)
sort

             state  Population  ...   region_x   region_y
0       California  39,538,223  ...       West       West
1            Texas  30,145,505  ...      South      South
2          Florida  21,538,187  ...      South      South
12      Washington   7,705,281  ...       West       West
3         New York  20,201,249  ...  Northeast  Northeast
5         Illinois  12,812,508  ...    Midwest    Midwest
13         Arizona   7,151,502  ...       West       West
20        Colorado   5,773,714  ...       West       West
6             Ohio  11,799,448  ...    Midwest    Midwest
11        Virginia   8,631,393  ...      South      South
26          Oregon   4,237,256  ...       West       West
4     Pennsylvania  13,002,700  ...  Northeast  Northeast
8   North Carolina  10,439,388  ...      South      South
7          Georgia  10,711,908  ...      South      South
9         Michigan  10,077,331  ...    Midwest    Midwest
14   Massachusetts   7,029,917  ...  Northeast  Northeast
10      New Jersey   9,288,994  ...  Northeast  Northeast
17        Maryland   6,177,224  ...      South      South
31          Nevada   3,104,614  ...       West       West
16         Indiana   6,785,528  ...    Midwest    Midwest
18        Missouri   6,154,913  ...    Midwest    Midwest
21       Minnesota   5,706,494  ...    Midwest    Midwest
15       Tennessee   6,910,840  ...      South      South
25        Kentucky   4,505,836  ...      South      South
19       Wisconsin   5,893,718  ...    Midwest    Midwest
22  South Carolina   5,118,425  ...      South      South
28     Connecticut   3,605,944  ...  Northeast  Northeast
29            Utah   3,271,616  ...       West       West
39          Hawaii   1,455,271  ...       West       West
34          Kansas   2,937,880  ...    Midwest    Midwest
30            Iowa   3,190,369  ...    Midwest    Midwest
23         Alabama   5,024,279  ...      South      South
24       Louisiana   4,657,757  ...      South      South
27        Oklahoma   3,959,353  ...      South      South
35      New Mexico   2,117,522  ...       West       West
37           Idaho   1,839,106  ...       West       West
36        Nebraska   1,961,504  ...    Midwest    Midwest
32        Arkansas   3,011,524  ...      South      South
47          Alaska     733,391  ...       West       West
33     Mississippi   2,961,279  ...      South      South
43         Montana   1,084,225  ...       West       West
41           Maine   1,362,359  ...  Northeast  Northeast
40   New Hampshire   1,377,529  ...  Northeast  Northeast
42    Rhode Island   1,097,379  ...  Northeast  Northeast
38   West Virginia   1,793,716  ...      South      South
44        Delaware     989,948  ...      South      South
45    South Dakota     886,667  ...    Midwest    Midwest
49         Wyoming     576,851  ...       West       West
46    North Dakota     779,094  ...    Midwest    Midwest
48         Vermont     643,077  ...  Northeast  Northeast

[50 rows x 8 columns]

In [198]:
sort_region= final_merged.sort_values(by='region', ascending=False)
sort_region

KeyError: 'region'

In [32]:
final_merged['proportion_of_Starbucks'] = final_merged['Starbucks Stores'] / final_merged['Starbucks Stores'].sum()

In [199]:
final_merged['proportion_of_Dunkin'] = final_merged['Dunkin Stores'] / final_merged['Dunkin Stores'].sum()

In [200]:
final_merged

             state  Population  ...   region_y  proportion_of_Dunkin
0       California  39,538,223  ...       West              0.014823
1            Texas  30,145,505  ...      South              0.023427
2          Florida  21,538,187  ...      South              0.094226
3         New York  20,201,249  ...  Northeast              0.148336
4     Pennsylvania  13,002,700  ...  Northeast              0.067378
5         Illinois  12,812,508  ...    Midwest              0.073702
6             Ohio  11,799,448  ...    Midwest              0.027055
7          Georgia  10,711,908  ...      South              0.029750
8   North Carolina  10,439,388  ...      South              0.023220
9         Michigan  10,077,331  ...    Midwest              0.011610
10      New Jersey   9,288,994  ...  Northeast              0.090391
11        Virginia   8,631,393  ...      South              0.025293
12      Washington   7,705,281  ...       West              0.000000
13         Arizona   7,151,502  ...       West              0.011403
14   Massachusetts   7,029,917  ...  Northeast              0.108013
15       Tennessee   6,910,840  ...      South              0.014201
16         Indiana   6,785,528  ...    Midwest              0.012128
17        Maryland   6,177,224  ...      South              0.032238
18        Missouri   6,154,913  ...    Midwest              0.005598
19       Wisconsin   5,893,718  ...    Midwest              0.010366
20        Colorado   5,773,714  ...       West              0.004976
21       Minnesota   5,706,494  ...    Midwest              0.003939
22  South Carolina   5,118,425  ...      South              0.012024
23         Alabama   5,024,279  ...      South              0.007152
24       Louisiana   4,657,757  ...      South              0.001555
25        Kentucky   4,505,836  ...      South              0.005183
26          Oregon   4,237,256  ...       West              0.000000
27        Oklahoma   3,959,353  ...      South              0.002384
28     Connecticut   3,605,944  ...  Northeast              0.049342
29            Utah   3,271,616  ...       West              0.000207
30            Iowa   3,190,369  ...    Midwest              0.003732
31          Nevada   3,104,614  ...       West              0.004354
32        Arkansas   3,011,524  ...      South              0.001451
33     Mississippi   2,961,279  ...      South              0.001451
34          Kansas   2,937,880  ...    Midwest              0.002695
35      New Mexico   2,117,522  ...       West              0.001970
36        Nebraska   1,961,504  ...    Midwest              0.002488
37           Idaho   1,839,106  ...       West              0.000000
38   West Virginia   1,793,716  ...      South              0.003213
39          Hawaii   1,455,271  ...       West              0.000622
40   New Hampshire   1,377,529  ...  Northeast              0.022390
41           Maine   1,362,359  ...  Northeast              0.017000
42    Rhode Island   1,097,379  ...  Northeast              0.016482
43         Montana   1,084,225  ...       West              0.000000
44        Delaware     989,948  ...      South              0.006945
45    South Dakota     886,667  ...    Midwest              0.000000
46    North Dakota     779,094  ...    Midwest              0.000000
47          Alaska     733,391  ...       West              0.000000
48         Vermont     643,077  ...  Northeast              0.005183
49         Wyoming     576,851  ...       West              0.000104

[50 rows x 9 columns]

There are more overall Starbucks stores than Dunkin. However in teh Northeast it looks like there are more Dunkin stopres relativly.

In [201]:
def webscrape(url):
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    table=(soup.find_all("table"))[0]

    df= []

# iterate over all rows in the population table
    for row in table.find_all("tr")[1:]:

        #state
        state= row.find("th").text

        #number of stores
        num=row.find("td").text

        df.append({
                "State": state,
                "Stores": num,
    })
    df =pd.DataFrame(df)
    return df

In [202]:
webscrape("https://worldpopulationreview.com/state-rankings/walmart-stores-by-state")

                   State Stores
0                  Texas    517
1                Florida    341
2             California    280
3         North Carolina    192
4                Georgia    189
5               Illinois    161
6                   Ohio    146
7               Missouri    137
8              Tennessee    137
9           Pennsylvania    134
10              Virginia    134
11               Alabama    131
12              Oklahoma    122
13              Arkansas    120
14             Louisiana    116
15               Indiana    113
16               Arizona    112
17        South Carolina    110
18              New York     98
19              Michigan     94
20              Kentucky     93
21             Wisconsin     89
22              Colorado     88
23           Mississippi     78
24                Kansas     74
25             Minnesota     68
26            Washington     66
27            New Jersey     62
28                  Iowa     60
29                  Utah     53
30              Maryland     48
31         Massachusetts     48
32            New Mexico     46
33                Oregon     45
34                Nevada     43
35              Nebraska     42
36         West Virginia     39
37           Connecticut     33
38                 Idaho     26
39         New Hampshire     26
40                 Maine     22
41          South Dakota     15
42               Montana     14
43          North Dakota     14
44               Wyoming     12
45                Hawaii     10
46                Alaska      9
47          Rhode Island      9
48               Vermont      6
49  District of Columbia      3