---
title: "Lab 4: Coffee Lovers Unite"
author: "Alexandra Grover" 
date: October 18,2024
embed-resources: true
---

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [117]:
starbucks_response = requests.get("https://worldpopulationreview.com/state-rankings/starbucks-stores-by-state")

In [118]:
from bs4 import BeautifulSoup
starbs_soup = BeautifulSoup(starbucks_response.content, "html.parser")

In [119]:
star_table=(starbs_soup.find_all("table"))[0]
star_table

<table class="wpr-table"><thead class="table-head bg-wpr-table_header_bg relative z-40 px-0 py-0 text-xs uppercase tracking-wider"><tr><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 pin left-0 z-50 border-l-0"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">State</div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2023<svg class="icon icon-tabler icon-tabler-chevron-down" fill="none" height="14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" stroke="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg></div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2021</div></div></th><th class="datatable-th bg-wpr-table_header_bg text-wpr-table_header border-wpr-table_border sticky top-0 border-b bg-clip-padding px-3 py-2 text-left align-bottom leading-4 md:px-4 z-40"><div class="flex flex-col items-stretch justify-start"><div class="flex flex-row items-center cursor-pointer select-none">Starbucks Stores 2024</div></div></th></tr></thead><tbody class="relative z-10 text-sm"><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/california" to="/states/california">California</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/texas" to="/states/texas">Texas</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,346</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,215</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,409</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/florida" to="/states/florida">Florida</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">844</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">786</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">892</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/washington" to="/states/washington">Washington</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">741</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">739</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">736</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-york" to="/states/new-york">New York</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">692</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">643</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">715</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/illinois" to="/states/illinois">Illinois</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">677</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">621</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">685</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/arizona" to="/states/arizona">Arizona</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">548</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">535</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">579</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/colorado" to="/states/colorado">Colorado</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">495</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">497</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">506</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/ohio" to="/states/ohio">Ohio</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">491</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">446</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">499</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/virginia" to="/states/virginia">Virginia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">489</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">456</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">510</td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/oregon" to="/states/oregon">Oregon</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">359</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">345</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/pennsylvania" to="/states/pennsylvania">Pennsylvania</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">357</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">406</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/north-carolina" to="/states/north-carolina">North Carolina</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">338</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">422</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/georgia" to="/states/georgia">Georgia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">326</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">379</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/michigan" to="/states/michigan">Michigan</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">283</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">310</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/massachusetts" to="/states/massachusetts">Massachusetts</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">273</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">279</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-jersey" to="/states/new-jersey">New Jersey</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">261</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">293</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/maryland" to="/states/maryland">Maryland</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">257</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">274</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/nevada" to="/states/nevada">Nevada</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">253</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">269</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/indiana" to="/states/indiana">Indiana</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">221</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">265</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/missouri" to="/states/missouri">Missouri</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">188</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">208</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/minnesota" to="/states/minnesota">Minnesota</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">184</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">212</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/tennessee" to="/states/tennessee">Tennessee</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">180</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">237</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/kentucky" to="/states/kentucky">Kentucky</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">166</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">131</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/wisconsin" to="/states/wisconsin">Wisconsin</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">145</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">176</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/south-carolina" to="/states/south-carolina">South Carolina</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">131</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">207</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/connecticut" to="/states/connecticut">Connecticut</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">123</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">125</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/utah" to="/states/utah">Utah</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">101</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">126</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/hawaii" to="/states/hawaii">Hawaii</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">99</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">105</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/kansas" to="/states/kansas">Kansas</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">94</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">120</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/district-of-columbia" to="/states/district-of-columbia">District of Columbia</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">91</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/iowa" to="/states/iowa">Iowa</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">89</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">142</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/alabama" to="/states/alabama">Alabama</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">85</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">99</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/louisiana" to="/states/louisiana">Louisiana</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">84</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">10</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/oklahoma" to="/states/oklahoma">Oklahoma</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">79</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">94</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/new-mexico" to="/states/new-mexico">New Mexico</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">76</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">92</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/idaho" to="/states/idaho">Idaho</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">67</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">78</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/nebraska" to="/states/nebraska">Nebraska</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">58</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">87</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4"></td></tr><tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle 

In [120]:
row = table.find_all("tr")[1]
row

<tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/california" to="/states/california">California</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td></tr>

In [121]:
  state= row.find("th").text
  state

'California'

In [122]:
cells = row.find_all('td')
cells

[<td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,080</td>,
 <td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">2,959</td>,
 <td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">3,117</td>]

In [123]:
year2023 = cells[0].text
year2023

'3,080'

In [124]:
starbs= []

# iterate over all rows in the population table
for row in star_table.find_all("tr")[1:]:

  #state
  state= row.find("th").text

#Cells for num of starbucks
  cells = row.find_all('td')
  #Year
  year2023 = cells[0].text
  year2021 = cells[1].text
  year2024 = cells[2].text

  

  starbs.append({
                "State": state,
                "2024": year2024,
                "2023": year2023,
                "2021": year2021,
  })

In [147]:
starbs = pd.DataFrame(starbs)

In [148]:
#melt
starbs_melt= starbs.melt(id_vars=["State"], var_name='Year', value_name="Stores")

In [149]:
starbs_melt["Chain"] = "Starbucks"
starbs_melt.head()

        State  Year Stores      Chain
0  California  2024  3,117  Starbucks
1       Texas  2024  1,409  Starbucks
2     Florida  2024    892  Starbucks
3  Washington  2024    736  Starbucks
4    New York  2024    715  Starbucks

In [112]:
dunkin_response = requests.get("https://worldpopulationreview.com/state-rankings/dunkin-donuts-by-state")

In [113]:
from bs4 import BeautifulSoup
dunks_soup = BeautifulSoup(dunkin_response.content, "html.parser")

In [114]:
dunkin_table=(dunks_soup.find_all("table"))[0]
#dunkin_table

In [115]:
dunky= []

# iterate over all rows in the population table
for row in dunkin_table.find_all("tr")[1:]:

  #state
  state= row.find("th").text

  #Cells for num of dunkin
  cells = row.find_all('td')
  #Year
  year2024 = cells[0].text
  year2023 = cells[1].text
 

  

  dunky.append({
                "State": state,
                "2024": year2024,
                "2023": year2023
               
  })

In [140]:
dunky =pd.DataFrame(dunky)

In [143]:
#melt
dunky_melt= dunky.melt(id_vars=["State"], var_name='Year', value_name="Stores")

In [146]:
dunky_melt["Chain"] = "Dunkin"
dunky_melt.head()

           State  Year Stores   Chain
0       New York  2024  1,431  Dunkin
1  Massachusetts  2024  1,042  Dunkin
2        Florida  2024    909  Dunkin
3     New Jersey  2024    872  Dunkin
4       Illinois  2024    711  Dunkin

In [150]:
starbs_dunky= pd.concat([starbs_melt, dunky_melt])
starbs_dunky

            State   Year  Stores      Chain
0      California   2024   3,117  Starbucks
1           Texas   2024   1,409  Starbucks
2         Florida   2024     892  Starbucks
3      Washington   2024     736  Starbucks
4        New York   2024     715  Starbucks
..            ...    ...     ...        ...
148       Montana  Chain  Dunkin     Dunkin
149  North Dakota  Chain  Dunkin     Dunkin
150        Oregon  Chain  Dunkin     Dunkin
151  South Dakota  Chain  Dunkin     Dunkin
152    Washington  Chain  Dunkin     Dunkin

[357 rows x 4 columns]

In [12]:
#combine
merge_df = pd.merge(starbs, dunky, how="inner", on='State')

In [13]:
merge_df

                   state Starbucks Stores Dunkin Stores
0             California            3,080           143
1                  Texas            1,346           226
2                Florida              844           909
3             Washington              741             0
4               New York              692         1,431
5               Illinois              677           711
6                Arizona              548           110
7               Colorado              495            48
8                   Ohio              491           261
9               Virginia              489           244
10                Oregon              359             0
11          Pennsylvania              357           650
12        North Carolina              338           224
13               Georgia              326           287
14              Michigan              283           112
15         Massachusetts              273         1,042
16            New Jersey              261           872
17              Maryland              257           311
18                Nevada              253            42
19               Indiana              221           117
20              Missouri              188            54
21             Minnesota              184            38
22             Tennessee              180           137
23              Kentucky              166            50
24             Wisconsin              145           100
25        South Carolina              131           116
26           Connecticut              123           476
27                  Utah              101             2
28                Hawaii               99             6
29                Kansas               94            26
30  District of Columbia               91            19
31                  Iowa               89            36
32               Alabama               85            69
33             Louisiana               84            15
34              Oklahoma               79            23
35            New Mexico               76            19
36                 Idaho               67             0
37              Nebraska               58            24
38              Arkansas               55            14
39                Alaska               49             0
40           Mississippi               32            14
41               Montana               32             0
42                 Maine               30           164
43         New Hampshire               29           216
44          Rhode Island               27           159
45              Delaware               25            67
46          South Dakota               25             0
47         West Virginia               25            31
48               Wyoming               23             1
49          North Dakota               13             0
50               Vermont                8            50

In [14]:
#wiki table
wiki_response = requests.get("https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population")

In [15]:
from bs4 import BeautifulSoup
wiki_soup = BeautifulSoup(wiki_response.content, "html.parser")

In [16]:
wiki_table=(wiki_soup.find_all("table"))[0]
#wiki_table

In [17]:
row =wiki_table.find_all("tr")[1]
#row

In [18]:
cell= row.find_all('td')
cell[2].get_text(strip=True)

'California'

In [20]:
wiki = []

# iterate over all rows in the population table
for row in wiki_table.find_all("tr")[1:]:


    # Get all the cells (<td>) in the row.
    #state
    cells = row.find_all("td")
    state=cells[2].get_text(strip=True)


 #find population
    pop = cells[3].get_text(strip=True)


    # Append this data.
    wiki.append({
        "state": state,
        "Population": pop,
})

In [21]:
wiki=pd.DataFrame(wiki)

In [22]:
final_merged = pd.merge(wiki, merge_df, how="inner", on='state')

In [23]:
starbucks_stock= 96
dunkin_stock = 106
final_merged["starbucks_stock"]=starbucks_stock
final_merged["dunkin_stock"]=dunkin_stock

In [24]:
final_merged

                   state  Population  ... starbucks_stock dunkin_stock
0             California  39,538,223  ...              96          106
1                  Texas  30,145,505  ...              96          106
2                Florida  21,538,187  ...              96          106
3               New York  20,201,249  ...              96          106
4           Pennsylvania  13,002,700  ...              96          106
5               Illinois  12,812,508  ...              96          106
6                   Ohio  11,799,448  ...              96          106
7                Georgia  10,711,908  ...              96          106
8         North Carolina  10,439,388  ...              96          106
9               Michigan  10,077,331  ...              96          106
10            New Jersey   9,288,994  ...              96          106
11              Virginia   8,631,393  ...              96          106
12            Washington   7,705,281  ...              96          106
13               Arizona   7,151,502  ...              96          106
14         Massachusetts   7,029,917  ...              96          106
15             Tennessee   6,910,840  ...              96          106
16               Indiana   6,785,528  ...              96          106
17              Maryland   6,177,224  ...              96          106
18              Missouri   6,154,913  ...              96          106
19             Wisconsin   5,893,718  ...              96          106
20              Colorado   5,773,714  ...              96          106
21             Minnesota   5,706,494  ...              96          106
22        South Carolina   5,118,425  ...              96          106
23               Alabama   5,024,279  ...              96          106
24             Louisiana   4,657,757  ...              96          106
25              Kentucky   4,505,836  ...              96          106
26                Oregon   4,237,256  ...              96          106
27              Oklahoma   3,959,353  ...              96          106
28           Connecticut   3,605,944  ...              96          106
29                  Utah   3,271,616  ...              96          106
30                  Iowa   3,190,369  ...              96          106
31                Nevada   3,104,614  ...              96          106
32              Arkansas   3,011,524  ...              96          106
33           Mississippi   2,961,279  ...              96          106
34                Kansas   2,937,880  ...              96          106
35            New Mexico   2,117,522  ...              96          106
36              Nebraska   1,961,504  ...              96          106
37                 Idaho   1,839,106  ...              96          106
38         West Virginia   1,793,716  ...              96          106
39                Hawaii   1,455,271  ...              96          106
40         New Hampshire   1,377,529  ...              96          106
41                 Maine   1,362,359  ...              96          106
42          Rhode Island   1,097,379  ...              96          106
43               Montana   1,084,225  ...              96          106
44              Delaware     989,948  ...              96          106
45          South Dakota     886,667  ...              96          106
46          North Dakota     779,094  ...              96          106
47                Alaska     733,391  ...              96          106
48  District of Columbia     689,545  ...              96          106
49               Vermont     643,077  ...              96          106
50               Wyoming     576,851  ...              96          106

[51 rows x 6 columns]

In [25]:
#map
states_regions = pd.DataFrame({
    'state': [
        'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
        'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
        'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
        'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
        'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
        'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
        'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
        'West Virginia', 'Wisconsin', 'Wyoming'
    ],
    'region': [
        'South', 'West', 'West', 'South', 'West', 'West', 'Northeast', 
        'South', 'South', 'South', 'West', 'West', 'Midwest', 'Midwest', 
        'Midwest', 'Midwest', 'South', 'South', 'Northeast', 'South', 
        'Northeast', 'Midwest', 'Midwest', 'South', 'Midwest', 'West', 
        'Midwest', 'West', 'Northeast', 'Northeast', 'West', 'Northeast',
        'South', 'Midwest', 'Midwest', 'South', 'West', 'Northeast', 
        'Northeast', 'South', 'Midwest', 'South', 'South', 'West', 
        'Northeast', 'South', 'West', 'South', 'Midwest', 'West'
    ]
})
states_regions.head()

        state region
0     Alabama  South
1      Alaska   West
2     Arizona   West
3    Arkansas  South
4  California   West

In [26]:
final_merged = pd.merge(final_merged, states_regions, on='state')

In [27]:
sort = final_merged.sort_values(by='Starbucks Stores', ascending=False)
sort

             state  Population  ... dunkin_stock     region
39          Hawaii   1,455,271  ...          106       West
34          Kansas   2,937,880  ...          106    Midwest
30            Iowa   3,190,369  ...          106    Midwest
23         Alabama   5,024,279  ...          106      South
2          Florida  21,538,187  ...          106      South
24       Louisiana   4,657,757  ...          106      South
48         Vermont     643,077  ...          106  Northeast
27        Oklahoma   3,959,353  ...          106      South
35      New Mexico   2,117,522  ...          106       West
12      Washington   7,705,281  ...          106       West
3         New York  20,201,249  ...          106  Northeast
5         Illinois  12,812,508  ...          106    Midwest
37           Idaho   1,839,106  ...          106       West
36        Nebraska   1,961,504  ...          106    Midwest
32        Arkansas   3,011,524  ...          106      South
13         Arizona   7,151,502  ...          106       West
20        Colorado   5,773,714  ...          106       West
6             Ohio  11,799,448  ...          106    Midwest
47          Alaska     733,391  ...          106       West
11        Virginia   8,631,393  ...          106      South
26          Oregon   4,237,256  ...          106       West
4     Pennsylvania  13,002,700  ...          106  Northeast
8   North Carolina  10,439,388  ...          106      South
7          Georgia  10,711,908  ...          106      South
33     Mississippi   2,961,279  ...          106      South
43         Montana   1,084,225  ...          106       West
41           Maine   1,362,359  ...          106  Northeast
0       California  39,538,223  ...          106       West
40   New Hampshire   1,377,529  ...          106  Northeast
9         Michigan  10,077,331  ...          106    Midwest
14   Massachusetts   7,029,917  ...          106  Northeast
42    Rhode Island   1,097,379  ...          106  Northeast
10      New Jersey   9,288,994  ...          106  Northeast
17        Maryland   6,177,224  ...          106      South
31          Nevada   3,104,614  ...          106       West
38   West Virginia   1,793,716  ...          106      South
45    South Dakota     886,667  ...          106    Midwest
44        Delaware     989,948  ...          106      South
49         Wyoming     576,851  ...          106       West
16         Indiana   6,785,528  ...          106    Midwest
18        Missouri   6,154,913  ...          106    Midwest
21       Minnesota   5,706,494  ...          106    Midwest
15       Tennessee   6,910,840  ...          106      South
25        Kentucky   4,505,836  ...          106      South
19       Wisconsin   5,893,718  ...          106    Midwest
22  South Carolina   5,118,425  ...          106      South
46    North Dakota     779,094  ...          106    Midwest
28     Connecticut   3,605,944  ...          106  Northeast
29            Utah   3,271,616  ...          106       West
1            Texas  30,145,505  ...          106      South

[50 rows x 7 columns]

In [28]:
final_merged['Starbucks Stores'] = final_merged['Starbucks Stores'].str.replace(',', '').astype(int)

In [29]:
final_merged['Dunkin Stores'] = final_merged['Dunkin Stores'].str.replace(',', '').astype(int)

In [32]:
final_merged.head()

          state  Population  ...  dunkin_stock     region
0    California  39,538,223  ...           106       West
1         Texas  30,145,505  ...           106      South
2       Florida  21,538,187  ...           106      South
3      New York  20,201,249  ...           106  Northeast
4  Pennsylvania  13,002,700  ...           106  Northeast

[5 rows x 7 columns]

In [33]:
sort= final_merged.sort_values(by='Starbucks Stores', ascending=False)
sort

             state  Population  ...  dunkin_stock     region
0       California  39,538,223  ...           106       West
1            Texas  30,145,505  ...           106      South
2          Florida  21,538,187  ...           106      South
12      Washington   7,705,281  ...           106       West
3         New York  20,201,249  ...           106  Northeast
5         Illinois  12,812,508  ...           106    Midwest
13         Arizona   7,151,502  ...           106       West
20        Colorado   5,773,714  ...           106       West
6             Ohio  11,799,448  ...           106    Midwest
11        Virginia   8,631,393  ...           106      South
26          Oregon   4,237,256  ...           106       West
4     Pennsylvania  13,002,700  ...           106  Northeast
8   North Carolina  10,439,388  ...           106      South
7          Georgia  10,711,908  ...           106      South
9         Michigan  10,077,331  ...           106    Midwest
14   Massachusetts   7,029,917  ...           106  Northeast
10      New Jersey   9,288,994  ...           106  Northeast
17        Maryland   6,177,224  ...           106      South
31          Nevada   3,104,614  ...           106       West
16         Indiana   6,785,528  ...           106    Midwest
18        Missouri   6,154,913  ...           106    Midwest
21       Minnesota   5,706,494  ...           106    Midwest
15       Tennessee   6,910,840  ...           106      South
25        Kentucky   4,505,836  ...           106      South
19       Wisconsin   5,893,718  ...           106    Midwest
22  South Carolina   5,118,425  ...           106      South
28     Connecticut   3,605,944  ...           106  Northeast
29            Utah   3,271,616  ...           106       West
39          Hawaii   1,455,271  ...           106       West
34          Kansas   2,937,880  ...           106    Midwest
30            Iowa   3,190,369  ...           106    Midwest
23         Alabama   5,024,279  ...           106      South
24       Louisiana   4,657,757  ...           106      South
27        Oklahoma   3,959,353  ...           106      South
35      New Mexico   2,117,522  ...           106       West
37           Idaho   1,839,106  ...           106       West
36        Nebraska   1,961,504  ...           106    Midwest
32        Arkansas   3,011,524  ...           106      South
47          Alaska     733,391  ...           106       West
33     Mississippi   2,961,279  ...           106      South
43         Montana   1,084,225  ...           106       West
41           Maine   1,362,359  ...           106  Northeast
40   New Hampshire   1,377,529  ...           106  Northeast
42    Rhode Island   1,097,379  ...           106  Northeast
38   West Virginia   1,793,716  ...           106      South
44        Delaware     989,948  ...           106      South
45    South Dakota     886,667  ...           106    Midwest
49         Wyoming     576,851  ...           106       West
46    North Dakota     779,094  ...           106    Midwest
48         Vermont     643,077  ...           106  Northeast

[50 rows x 7 columns]

In [31]:
sort_region= final_merged.sort_values(by='region', ascending=False)
sort_region

             state  Population  ...  dunkin_stock     region
0       California  39,538,223  ...           106       West
12      Washington   7,705,281  ...           106       West
47          Alaska     733,391  ...           106       West
43         Montana   1,084,225  ...           106       West
39          Hawaii   1,455,271  ...           106       West
37           Idaho   1,839,106  ...           106       West
35      New Mexico   2,117,522  ...           106       West
31          Nevada   3,104,614  ...           106       West
29            Utah   3,271,616  ...           106       West
26          Oregon   4,237,256  ...           106       West
20        Colorado   5,773,714  ...           106       West
13         Arizona   7,151,502  ...           106       West
49         Wyoming     576,851  ...           106       West
11        Virginia   8,631,393  ...           106      South
24       Louisiana   4,657,757  ...           106      South
2          Florida  21,538,187  ...           106      South
44        Delaware     989,948  ...           106      South
38   West Virginia   1,793,716  ...           106      South
33     Mississippi   2,961,279  ...           106      South
32        Arkansas   3,011,524  ...           106      South
8   North Carolina  10,439,388  ...           106      South
27        Oklahoma   3,959,353  ...           106      South
1            Texas  30,145,505  ...           106      South
7          Georgia  10,711,908  ...           106      South
23         Alabama   5,024,279  ...           106      South
22  South Carolina   5,118,425  ...           106      South
15       Tennessee   6,910,840  ...           106      South
17        Maryland   6,177,224  ...           106      South
25        Kentucky   4,505,836  ...           106      South
10      New Jersey   9,288,994  ...           106  Northeast
28     Connecticut   3,605,944  ...           106  Northeast
48         Vermont     643,077  ...           106  Northeast
3         New York  20,201,249  ...           106  Northeast
42    Rhode Island   1,097,379  ...           106  Northeast
41           Maine   1,362,359  ...           106  Northeast
40   New Hampshire   1,377,529  ...           106  Northeast
4     Pennsylvania  13,002,700  ...           106  Northeast
14   Massachusetts   7,029,917  ...           106  Northeast
36        Nebraska   1,961,504  ...           106    Midwest
21       Minnesota   5,706,494  ...           106    Midwest
30            Iowa   3,190,369  ...           106    Midwest
6             Ohio  11,799,448  ...           106    Midwest
34          Kansas   2,937,880  ...           106    Midwest
18        Missouri   6,154,913  ...           106    Midwest
19       Wisconsin   5,893,718  ...           106    Midwest
16         Indiana   6,785,528  ...           106    Midwest
45    South Dakota     886,667  ...           106    Midwest
46    North Dakota     779,094  ...           106    Midwest
9         Michigan  10,077,331  ...           106    Midwest
5         Illinois  12,812,508  ...           106    Midwest

[50 rows x 7 columns]

In [32]:
final_merged['proportion_of_Starbucks'] = final_merged['Starbucks Stores'] / final_merged['Starbucks Stores'].sum()

In [33]:
final_merged['proportion_of_Dunkin'] = final_merged['Dunkin Stores'] / final_merged['Dunkin Stores'].sum()

In [34]:
final_merged

             state  Population  ...  proportion_of_Starbucks  proportion_of_Dunkin
0       California  39,538,223  ...                 0.210196              0.014823
1            Texas  30,145,505  ...                 0.091858              0.023427
2          Florida  21,538,187  ...                 0.057599              0.094226
3         New York  20,201,249  ...                 0.047226              0.148336
4     Pennsylvania  13,002,700  ...                 0.024364              0.067378
5         Illinois  12,812,508  ...                 0.046202              0.073702
6             Ohio  11,799,448  ...                 0.033508              0.027055
7          Georgia  10,711,908  ...                 0.022248              0.029750
8   North Carolina  10,439,388  ...                 0.023067              0.023220
9         Michigan  10,077,331  ...                 0.019313              0.011610
10      New Jersey   9,288,994  ...                 0.017812              0.090391
11        Virginia   8,631,393  ...                 0.033372              0.025293
12      Washington   7,705,281  ...                 0.050570              0.000000
13         Arizona   7,151,502  ...                 0.037398              0.011403
14   Massachusetts   7,029,917  ...                 0.018631              0.108013
15       Tennessee   6,910,840  ...                 0.012284              0.014201
16         Indiana   6,785,528  ...                 0.015082              0.012128
17        Maryland   6,177,224  ...                 0.017539              0.032238
18        Missouri   6,154,913  ...                 0.012830              0.005598
19       Wisconsin   5,893,718  ...                 0.009896              0.010366
20        Colorado   5,773,714  ...                 0.033781              0.004976
21       Minnesota   5,706,494  ...                 0.012557              0.003939
22  South Carolina   5,118,425  ...                 0.008940              0.012024
23         Alabama   5,024,279  ...                 0.005801              0.007152
24       Louisiana   4,657,757  ...                 0.005733              0.001555
25        Kentucky   4,505,836  ...                 0.011329              0.005183
26          Oregon   4,237,256  ...                 0.024500              0.000000
27        Oklahoma   3,959,353  ...                 0.005391              0.002384
28     Connecticut   3,605,944  ...                 0.008394              0.049342
29            Utah   3,271,616  ...                 0.006893              0.000207
30            Iowa   3,190,369  ...                 0.006074              0.003732
31          Nevada   3,104,614  ...                 0.017266              0.004354
32        Arkansas   3,011,524  ...                 0.003753              0.001451
33     Mississippi   2,961,279  ...                 0.002184              0.001451
34          Kansas   2,937,880  ...                 0.006415              0.002695
35      New Mexico   2,117,522  ...                 0.005187              0.001970
36        Nebraska   1,961,504  ...                 0.003958              0.002488
37           Idaho   1,839,106  ...                 0.004572              0.000000
38   West Virginia   1,793,716  ...                 0.001706              0.003213
39          Hawaii   1,455,271  ...                 0.006756              0.000622
40   New Hampshire   1,377,529  ...                 0.001979              0.022390
41           Maine   1,362,359  ...                 0.002047              0.017000
42    Rhode Island   1,097,379  ...                 0.001843              0.016482
43         Montana   1,084,225  ...                 0.002184              0.000000
44        Delaware     989,948  ...                 0.001706              0.006945
45    South Dakota     886,667  ...                 0.001706              0.000000
46    North Dakota     779,094  ...                 0.000887              0.000000
47          Alaska     733,391  ...                 0.003344              0.000000
48         Vermont     643,077  ...                 0.000546              0.005183
49         Wyoming     576,851  ...                 0.001570              0.000104

[50 rows x 9 columns]

There are more overall Starbucks stores than Dunkin. However in teh Northeast it looks like there are more Dunkin stopres relativly.

In [1]:
def webscrape(url):
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    table=(soup.find_all("table"))[0]

    df= []

# iterate over all rows in the population table
    for row in table.find_all("tr")[1:]:

        #state
        state= row.find("th").text

        #number of stores
        num=row.find("td").text

        df.append({
                "State": state,
                "Stores": num,
    })
    df =pd.DataFrame(df)
    return df

In [36]:
webscrape("https://worldpopulationreview.com/state-rankings/walmart-stores-by-state")

                   State Stores
0                  Texas    517
1                Florida    341
2             California    280
3         North Carolina    192
4                Georgia    189
5               Illinois    161
6                   Ohio    146
7               Missouri    137
8              Tennessee    137
9           Pennsylvania    134
10              Virginia    134
11               Alabama    131
12              Oklahoma    122
13              Arkansas    120
14             Louisiana    116
15               Indiana    113
16               Arizona    112
17        South Carolina    110
18              New York     98
19              Michigan     94
20              Kentucky     93
21             Wisconsin     89
22              Colorado     88
23           Mississippi     78
24                Kansas     74
25             Minnesota     68
26            Washington     66
27            New Jersey     62
28                  Iowa     60
29                  Utah     53
30              Maryland     48
31         Massachusetts     48
32            New Mexico     46
33                Oregon     45
34                Nevada     43
35              Nebraska     42
36         West Virginia     39
37           Connecticut     33
38                 Idaho     26
39         New Hampshire     26
40                 Maine     22
41          South Dakota     15
42               Montana     14
43          North Dakota     14
44               Wyoming     12
45                Hawaii     10
46                Alaska      9
47          Rhode Island      9
48               Vermont      6
49  District of Columbia      3